* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 800px;
    height: 200px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.576);
    display: flex;
}

.box_img {
    position: relative;
    width: fit-content;
    background-image: url(img.jpg);
    width: 250px;
    background-size: cover;
    border-radius: 5px;
}

.share {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
}

.img_project {
    /* width: 200px; */
    height: 100%;
}

.box_text {
    width: 100%;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    height: 40px;
    border-radius: 5px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: fit-content;
    padding: 0 15px;

}

@media (max-width:900px) {
    .box {
        width: 400px;
        height: 420px;
        flex-direction: column;
    }
    .box_img{
        width: 100%;
        height: 200px;
    }
    .btn{
        width: 100%;
    }
    .box_text{
        height: calc(100% - 200px);
    }
}